---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
import About from '../components/About';
import Experience from '../components/Experience';
import Skills from '../components/Skills';
import Projects from '../components/Projects';
import Contact from '../components/Contact';
import Footer from '../components/Footer';
import LazyShow from '../components/LazyShow'
import Canvas from '../components/Canvas/Canvas'

// Datos para los componentes
const navItems = [
  { name: 'Inicio', url: '#intro' },
  { name: 'Sobre Mí', url: '#about' },
  { name: 'Experiencia', url: '#experience' },
  { name: 'Habilidades', url: '#skills' },
  { name: 'Tecnologías', url: '#stack'},
  { name: 'Proyectos', url: '#works' },
  { name: 'Contacto', url: '#contact' }
];

const workExperience = [
  {
    title: 'QA BIT',
    role: 'Ingeniero de Software',
    period: 'Septiembre 2024 - Presente',
    description: '•	Desarrollo y mantenimiento de aplicaciones web con NestJS y NextJs.\n •	Integración de módulos de inteligencia artificial para optimizar la experiencia y eficiencia de las aplicaciones.\n •	Colaboración con equipos multidisciplinarios para implementar soluciones innovadoras.'
  },
  {
    title: 'Freelancer',
    role: 'Team Leader y Arquitecto de Software',
    period: 'Abril 2024 - Septiembre 2024',
    description: '•	Lideré proyectos de principio a fin, definiendo la arquitectura y estrategias de desarrollo para diversos clientes.\n•	Coordiné equipos de desarrollo, gestionando la implementación tanto en front-end (NextJs) como en back- end (Nestjs).\n•	Supervisé la integración de pipelines de CI/CD y automatización en entornos cloud, garantizando despliegues de alta calidad.'
  },
  {
    title: 'Enjoy Travel Group',
    role: 'Desarrollador Full-Stack',
    period: 'Junio 2022 - Marzo 2024',
    description: '•	Desarrollo de aplicaciones web con un fuerte enfoque en Django y NextJS, optimizando tanto el rendimiento del front-end como la robustez del back-end.\n•	Lideré el equipo de desarrollo, practicando metodologías agiles y gestionando las contribuciones al codigo, además de la documentación de los proyectos.\n•	Proyecto destacado: Plataforma integral de reservas y gestión turística, gestión de vuelos y seguros, integrando APIs de terceros y análisis de datos en tiempo real.'
  },
  {
    title: 'Guajirito SRL',
    role: 'Desarrollador Full-Stack Junior',
    period: 'Octubre 2021 - Marzo 2022',
    description: '•	Implementación de interfaces dinámicas con React para el front-end y desarrollo de back-end con Node.js (Express) y MongoDB.\n •	Colaboré en el diseño de soluciones orientadas a mejorar procesos internos y la experiencia del usuario.\n •	Proyecto destacado: Sistema de gestión de contenidos y e-commerce que optimizó la automatización y análisis en tiempo real de las ventas.'
  }
];

const education = [
  {
    title: 'Ingeniería de Software, Instituto Politécnico de la Habana (CUJAE)',
    role: 'Ingeniería de Software',
    period: 'Marzo 2021 - Mayo 2025',
    description: `Graduado en Ingeniería de Software, con una tesis especializada en AutoML para Clustering. Desarrollo de amplios conocimientos en:
    • Diseño de software \n
    • Ingeniería de requisitos\n
    • Estructuras de datos \n
    • Bases de datos\n
    • Programación orientada a objetos \n
    • Machine Learning y Deep Learning \n
    • Desarrollo de aplicaciones full stack y de microservicios.`,
    icon:'study'
  },
];

const skills = [
  {
    title: "Orgullo",
    description: "Se podría decir que puedo sentir hasta envidia de tu capacidad de concentración y dedicación por tantas horas. Para conseguir el objetivo de graduarte al igual que yo, teniendo mucha presión en tus hombros"
  },
  {
    title: "Sociabilidad",
    description: "Siempre has logrado ser una persona muy querida por quienes se acercan a ti, sin importar las situaciones tu brillo siempre despierta el interés de las buenas personas y por eso deseo que tu vida se rodee de personas como tú, deseo mucho que puedas volver a ver a tus mejores amigos"
  },
  {
    title: "Amistad",
    description: "Además de mi novia has sido mi amiga, para no solo hacerme reir sino permitir abrirme como nunca pensé hacer con mi pareja, a pesar de otros factores muchas personas se han sentido escuchadas por ti"
  },
  {
    title: "Conexión",
    description: "Es impresionante la conexión que llegamos a alcanzar juntos y todos esos momentos tan divertidos y morbosos que solo se pueden sentir con la persona correcta."
  },
  {
    title: "Tu alma",
    description: "Se que eres una bellisima persona, lo supe desde el momento en el que tomarte en serio, cuando me enamoré de ti, sentía un deseo ilimitado por nutrirme de bondad espontanea y tu sabiduría inalcanzable para muchas personas. Como soy un idiota deje ver estás cosas y comenzé a quejarme de otras"
  },
  {
    title: "Responsabilidad Afectiva",
    description: "Gracias por ser una niña bella con tus abrazos y tu ternura, será un vacio en mi corazón perderte. Como estoy escribiendo esto con el corazón aqui también te digo que me arrepiento mucho de no lucirte más, eres una joya de amor."
  },
];

const projects = [
  {
    title: 'Nuestras tesis',
    category: 'ChatBot',
    description: 'Se que fueron momentos complicados, pero dice mucho de ti tu preocupación por que lo lograra y disfrute mucho verte lucir tus dotes estando en primera fila. Aún recuerdo tu mirada cuando me agradeciste. PD: No tengo la foto en la que me arreglas las corbata, pero es esa la tipa',
    image: './tesis.jpg',
    tags:['Nestjs', 'Redis', 'Openai']
  },
  {
    title: 'Entendernos',
    category: 'Plugin',
    description: 'Quisiera que tomes esta imagen como prueba de fé, hemos discutido y nos hemos tratado mal, pero podemos lleguar a entendernos y a aliviar nuestros corazones para seguir adelante',
    image: './discu.jpg',
    tags:['Remix','React','Tailwind','Shopify','GraphQl']
  },
  {
    title: 'Adversidad',
    category: 'Machine Learning',
    description: 'En momentos así contigo, se me olvida que Diaz Canel es presidente 😂',
    image: './apag.jpg',
    tags: ['Knime','Python','Pandas','Scikit-Learn','Pytorch']
  },
  {
    title: 'Primera Cita',
    category: 'Aplicación Web',
    description: 'No es ni de cerca tu mejor foto, pero me llamo más la atención tu persona y como conectaba con la mia, más que toda la mucha belleza de tu figura',
    image: './cita.jpg',
    tags: ['NextJS','React','Tailwind','Shadcn']
  },
  {
    title: 'Tu familia',
    category: 'Proyecto Personal',
    description: 'Me encanta tu familia desde el primer día, nunca les he evitado, solo que hay días que no tengo energía social y quisiera no aparentarlo. Tienes una madre impresionante y un padre muy responsable, quisiera llegar a ser tan buen esposo como lo es él.',
    image: './fam.jpg',
    tags: ['Astro','React','Tailwind','Python','Openai','Keras','TensorFlow']
  },
  {
    title: 'I hope he buys you flowers🌷',
    category: 'Proyecto Personal',
    description: 'Whatever happens, I hope whoever ho be by your side, buys you flowers and chooses the ones you like...',
    image: './flor.jpg',
    tags: ['NextJS','React','Tailwind','Shadcn','Python','Openai','Celery','MongoDB','Redis','Selenium','Playwright']
  }
];

const socialLinks = [
  { name: 'Linkedin', url: 'https://www.linkedin.com/in/mario-perera-b30921237/' },
  { name: 'Github', url: 'https://github.com/elmayii' },
  { name: 'Instagram', url: 'https://www.instagram.com/sr_perera/' }
];
---

<Layout title={`I'm realy sorry`} description={`I'm realy sorry`} image='./HeroImage.jpg'>


  <main>
    <Hero
      name="Mario Perera (srperera)"
      title="Ingeniero de Software y Desarrollador Freelance"
      subtitle="Hola, soy"
      scrollText="Scroll down to read my feelings"
    />

    <LazyShow client:load>
      <About/>
    </LazyShow>

    
	<br/>

      <Skills
        title="Lo que he sentido"
        subtitle=""
        skills={skills}
        client:load
      />

    <Projects
      title="Momentos"
      subtitle="Aquí hay algunos los momentos que me llevaré el resto de mi vida"
      projects={projects}
      client:load
    />


    <LazyShow client:load>
      <Contact
        email="mariomanuel.pereravaldes@gmail.com"
        phone="+5355372562"
        socialLinks={socialLinks}
      />
    </LazyShow>
  </main>

  <Footer />
</Layout>

<style>

</style>
